@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");



#my-header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid snow;
  border-bottom: 1px solid snow;
 
  

  #my-logo-image {
    width: 80px;
    height: 80px;
    text-align: left;
    margin-right: 10px;
    vertical-align: middle;
    
  }

  #my-logo-title1 {
    margin: 0;
    text-align: left;
    font-family: 'Roboto+Condensed';
    
    
  }

  #my-logo-title2 {
    margin: 0;
    text-align: left;
   
  }
}


#my-menu-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  #my-menu-small {
    margin: 0;
  }
  
  #my-menu-large {
    margin: 0;
    padding: 0;
    height: 50px;
    
  }

  #my-search-box {
    display: flex; 
    justify-content: flex-end;
   
    #my-search-input {
      padding: 0;
    }
  }

}