//@import 'parts/02-header';
footer {
  color: white;
}

.usa-banner-inner {
}

.usa-nav {
  padding-top: 0;
}

#page2 {
  margin-top: 0;
}


body {
  background-color: lightblue;
}

#page1 {
  display: flex;
  display: -webkit-box; /* NEW */
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

legend {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

input,
table,
tr,
th,
td {
  border: 1px solid lightgray;
}

body > app-root > div > app-header > div:nth-child(2) > div {
  margin-right: 15%;
}

#sign-in-form {
  #username {
    margin-top: 2rem;
  }
}

input[title] {
  font-style: italic;
  color: gray;
  background: lightgreen;
}

#my-header {
  background: darkgreen;
  color: snow;
}

my-logo {
  margin: 0;
  text-align: left;
}


