//@import 'parts/02-header';
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

html,
body,
#my-header {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

#my-header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid snow;
  border-bottom: 1px solid snow;

  #my-logo-image {
    width: 80px;
    height: 80px;
    text-align: left;
    margin-right: 10px;
    vertical-align: middle;
  }

  #my-logo-title1 {
    margin: 0;
    text-align: left;
    //font-family: 'Roboto+Condensed';
  }

  #my-logo-title2 {
    margin: 0;
    text-align: left;
    // font-family: 'Roboto+Condensed';
  }
}


footer {
  color: white;
}

.usa-banner-inner {
}

.usa-nav {
  padding-top: 0;
}

#page2 {
  margin-top: 0;
}

body {
  background-color: lightblue;
}

#page1 {
  display: flex;
  display: -webkit-box; /* NEW */
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

legend {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

input,
table,
tr,
th,
td {
  border: 1px solid lightgray;
}

body > app-root > div > app-header > div:nth-child(2) > div {
  margin-right: 15%;
}

#sign-in-form {
  #username {
    margin-top: 2rem;
  }
}

input[title] {
  font-style: italic;
  color: gray;
  background: lightgreen;
}

#my-header {
  background: darkgreen;
  color: snow;
}

#my-menu-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  // ------- hide and show menu for mobile ---------
  #my-menu-mobile {
    margin: 0;
    display: none;
  }

  #my-search-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 4px;
    margin-left: 10%;
    
    #my-search-input {
      padding: 0;      
    }
  }
}
