/* query for tablet devices */
@media only screen and (min-width: 600px) and (max-width: 950px) {

    html,
    body,    
    #my-header {
      margin: 0;
      padding: 0;
      width: 100%;
      overflow: hidden;
    }

    button.usa-menu-btn {
      margin-top: 5px;
      height: 33px;
      //margin-right: 10px;
      border-radius: 4px;
    }
    
    #my-menu-search {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      padding: 4px 0;
      
      // ------- hide and show menu for mobile ---------
      #my-menu-mobile {
        display: block;
        flex-grow: 2;
      }
  
      //--- top search  box ----
      #my-search-box  {
        flex-grow: 8;
        margin-left: 0;

        #my-search-input {
          max-width:  100%;
        }
      }
    }

  
}
  