/* query for mobile devices */
@media only screen and (max-width: 599px) {
  html,
  body,
  #my-header {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
  }

  #my-top-menu {
    padding: 5px;
  }
 
  #nav-container {
    margin-right: 0;
  }
  #my-logo-image {
    margin-left: 2px;
    width: 60px;
    height: 60px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  button.usa-menu-btn {
    margin-top: 5px;
    height: 33px;
    //margin-right: 10px;
    border-radius: 4px;
  }
  legend.usa-drop_text {
    padding: 5px 0 5px;
    text-align: center;
  }
  #my-logo-title1 {
    font-size: 1.8rem;
  }
  
  #my-menu-search {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 4px 0;
    
    // ------- hide and show menu for mobile ---------
    #my-menu-mobile {
      display: block;
      flex-grow: 2;
    }

    //--- top search  box ----
    #my-search-box  {
      flex-grow: 8;
      margin-left: 0;
    }
  }

}
