//@import 'parts/01-init';
//@import 'parts/02-header';
footer {
    color: white;
}

.usa-banner-inner {

}

.usa-nav {
    padding-top: 0;
}

#page2 {
    margin-top: 0;
}

.usa-nav-container {
    height: 50px
}

