.input-icon-container {
    position:relative;
    padding:0;
    margin:0;
   // margin-bottom: 10px;
}
.input-icon {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;

    margin:0;
    padding-left: 35px;

}
.input-icon-img {
    position:absolute;
    top:15px;
    left:10px;
    width:14px;
    height:14px;
}

.input-error-img {
    position:absolute;
    top:15px;
    right:15px;
    width:14px;
    height:14px;
}

.form-control-group {
    padding-bottom: 5px;
}
