@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
body {
  margin: 0; }

#my-header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid snow;
  border-bottom: 1px solid snow; }
  #my-header-logo #my-logo-image {
    width: 80px;
    height: 80px;
    text-align: left;
    margin-right: 10px;
    vertical-align: middle; }
  #my-header-logo #my-logo-title1 {
    margin: 0;
    text-align: left;
    font-family: 'Roboto+Condensed'; }
  #my-header-logo #my-logo-title2 {
    margin: 0;
    text-align: left;
    font-family: 'Roboto+Condensed'; }

#my-menu-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }
  #my-menu-search #my-menu-small {
    margin: 0;
    display: none; }
  #my-menu-search #my-menu-large {
    margin: 0;
    padding: 0;
    height: 50px;
    margin-right: 10%;
    display: block; }
  #my-menu-search #my-search-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 4px; }
    #my-menu-search #my-search-box #my-search-input {
      padding: 0;
      flex: 1; }

footer {
  color: white; }

.usa-nav {
  padding-top: 0; }

#page2 {
  margin-top: 0; }

body {
  background-color: lightblue; }

#page1 {
  display: flex;
  display: -webkit-box;
  /* NEW */
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }

legend {
  padding-top: 5rem;
  padding-bottom: 2rem; }

input,
table,
tr,
th,
td {
  border: 1px solid lightgray; }

body > app-root > div > app-header > div:nth-child(2) > div {
  margin-right: 15%; }

#sign-in-form #username {
  margin-top: 2rem; }

input[title] {
  font-style: italic;
  color: gray;
  background: lightgreen; }

#my-header {
  background: darkgreen;
  color: snow; }

/* query for tablet devices */
@media only screen and (min-width: 600px) and (max-width: 950px) {
  html,
  body,
  #my-header {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden; }
  #my-menu-search {
    flex-direction: row-reverse;
    justify-content: flex-start; }
    #my-menu-search #my-menu-large {
      display: none; }
    #my-menu-search #my-menu-small {
      display: block;
      flex-grow: 2; }
    #my-menu-search #my-search-box {
      flex-grow: 9; } }

/* query for mobile devices */
@media only screen and (max-width: 599px) {
  html,
  body,
  #my-header {
    margin: 0;
    margin-left: 2px;
    padding: 0;
    width: 100%;
    overflow: hidden; }
  #my-top-menu {
    padding: 5px; }
  #nav-container {
    margin-right: 0; }
  #my-logo-image {
    margin-left: 2px;
    width: 60px;
    height: 60px;
    margin-top: 3px;
    margin-bottom: 3px; }
  button.usa-menu-btn {
    margin-top: 5px;
    height: 33px;
    border-radius: 4px; }
  legend.usa-drop_text {
    padding: 5px 0 5px; }
  #my-logo-title1 {
    font-size: 1.8rem; }
  #my-menu-search {
    flex-direction: row-reverse;
    justify-content: flex-start; }
    #my-menu-search #my-menu-large {
      display: none; }
    #my-menu-search #my-menu-small {
      display: block;
      flex-grow: 2; }
    #my-menu-search #my-search-box {
      flex-grow: 8; } }
