footer {
  color: white; }

.usa-nav {
  padding-top: 0; }

#page2 {
  margin-top: 0; }

.usa-nav-container {
  height: 50px; }

body {
  background-color: lightblue; }

#page1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }

legend {
  padding-top: 5rem;
  padding-bottom: 2rem; }

input,
table,
tr,
th,
td {
  border: 1px solid lightgray; }

body > app-root > div > app-header > div:nth-child(2) > div {
  margin-right: 15%; }

#sign-in-form #username {
  margin-top: 2rem; }

input[title] {
  font-style: italic;
  color: gray;
  background: lightgreen; }

#my-header {
  background: darkgreen;
  color: snow; }

  my-logo {
    margin: 0;
    text-align: left;
  }
  
  
  #usda_logo {
    width: 80px;
    height: 80px;
    text-align: left;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  
/* query for tablet devices */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  html,
  body,
  #my-header {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden; } }

/*
  These styles will be applied after USWDS
*/
/* query for mobile devices */
@media only screen and (max-width: 599px) {
  html,
  body,
  #my-header {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden; }
  #my-top-menu {
    padding: 5px; }
  #menu-search {
    display: flex;
    flex-direction: row-reverse; }
  #nav-container {
    margin-right: 0; }
  #usda_logo {
    margin-top: 8px;
    margin-left: 2px; }
  button.usa-menu-btn {
    margin-top: 5px;
    height: 33px;
    border-radius: 4px; }
  legend.usa-drop_text {
    padding: 5px 0 5px; }
  .usa-search {
    width: 95vw; }
  #page1 {
    display: block !important; } }
