my-logo {
  margin: 0;
  text-align: left;
}

#my-header1 {
    
   // margin-bottom: 2rem;
  
}
#my_header {
  margin: 0;
  margin-bottom: 5rem;

}
#my-top-menu {
  width: 100vw;
  background-color: #006747;
  color: white;
  padding: 10px;
  padding-left: 30px;
}

#usda_logo {
  width: 80px;
  height: 80px;
  text-align: left;
  margin-right: 10px;
  vertical-align: middle;
}

#logo_text1 {
  margin: 0;
  text-align: left;
  padding-top: 15px;
}

#logo_text2 {
  margin: 0;
  text-align: left;
  padding-top: 5px;
}
